@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

@media(min-width:900px) {
	div.background-img {
		width: 100%;
		position:fixed;
		top:-25rem;
	}

	div.background-img img {
		width: 100%;
		height: auto;
	}

	div.background-img-sm {
		display: none;
	}

	div.intro-text {
		color:#fff;
		top:55vh;
		width: 100%;
		background-color: rgba(0,0,0, 0.45);
	}
}

header div.intro-text {
	box-sizing:border-box;
	position:absolute;
	padding:2rem 1rem 3rem 1rem;

}

div.section-title {
	border:1px solid;
	margin:0 auto;
	margin-bottom:2rem;
	width: 22rem;
	padding:.9rem;
}


div.main {
	position: absolute;
	top:93vh;
	width: 100%;
}

div.confirmMsg {
	color: #233140;
	
}

div.bar-light {
	width:15rem;
	height: .4rem;
	background-color: #fff;
	position:relative;
	margin:1rem auto;
	padding:.2rem;
}

div.bar-dark {
	width:15rem;
	height: .4rem;
	background-color: #333;
	position:relative;
	margin:1rem auto;
	padding:.2rem;
}

.gallery-zoom {
	position:absolute;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    top: 2rem;
    box-sizing:border-box;
}

.gallery-zoom img {
	max-width:100%;
	max-height: 50rem;
}

div.gallery-chevron {
	position:relative;
	display: inline-block;
	text-align: center;
}

.navbar .navbar-brand {
		font-size: 21px;
}

button.send-btn {
	background-color: #5BB7FD;
	font-weight: 300;
	border:#5BB7FD;
}

button.send-btn:hover {
	background-color: #555;
	color: #5BB7FD;;
}

@media(max-width:900px) {
	.gallery-zoom {
		width:100%;
		margin:0;
		top:0;
	}
	div.background-img {
		position: absolute;
		height:100vh;
		margin:0 auto;
		left:-10rem;
		width: default;
	}

	div.background-img-sm {
		display: none;
	}

	.background-img img {
		width:120%;
	}

	div.intro-text {

		color:#fff;
		top:34rem;
		width: 100%;
		background-color: rgba(0,0,0, 0.45);
	}


}

@media(max-width:450px){
	.navbar .navbar-brand {
	    font-size: 16px;
	}

	div.intro-text {
		top:8rem;
		height:70vh;
		margin-left:8%;
		width:82%;
		color:#fff;
		background-color: rgba(0,0,0, 0.65);
	}

	div.background-img {
		display: none;
	}

	div.background-img-sm {
		display: block;
		position: absolute;
		top:-3rem;
		left: -26rem;
		width: default;
	}

	.background-img img {
		display: block;
	}

	#contact .row {
		padding: 1rem;
	}

	section.success {
		background-color: #222;
	}

}
