/*port this to a base.css*/
body,
a,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Raleway", Helvetica, sans-serif!important;
}

.banner {
	-moz-box-shadow:   0 0 3rem #222;
   	-webkit-box-shadow: 0 0 3rem #222;
   	box-shadow:        0 0 3rem #222;
   	padding: 0;
   	width: 100%;
}

.banner img {
	position: relative;
	width:100%;
	padding:0;
	margin:0;
}

.name {
	text-align: center;
	width:100%;
	padding: 1rem;
}

.links {
	text-align: center;
	width: 64%;
	margin-left:18%;
	margin-right: 18%;
	top:24rem;
	padding:2rem;
}

.blurb {
	background-color:rgba(34,34,34,0);
	width: 62%;
	margin-right: 19%;
	margin-left: 19%;
	height: auto;
	position: absolute;
	top: 10rem;
	padding: 1.5rem;
	}

.dressage, .engineer, .ceramics {
	text-align: center;
	padding-left: 3rem;
	padding-right: 3rem;
	position: relative;
}
.main-blurb {
	background-color: #AFEEEE;
	opacity: .9;
	position:absolute;
	width:86%;
	top:53rem;
	margin-left:7%;
	margin-right: 7%;
	padding-top:.5em;
	padding-bottom:1em;
	text-align: center;
		-moz-box-shadow:    0 0 2rem #222;
   	-webkit-box-shadow: 0 0 2rem #222;
   	box-shadow:         0 0 2rem #222;
}

h1 {
	font-size:8.5rem !important;
}

p {
	font-size: 2rem !important;
	color:#666;
}

a:hover {
	text-decoration: none !important;
	cursor: pointer;
	color:#eee;
	background-color:rgba(34,34,34,.2);
	border-radius: .5rem;
}


.contact {
	position: absolute;
	right:1.5rem;
	top:1rem;
}

.contact-icons {
	color: #eee;
	font-size: 2rem;
}

.contact-icons li {
	display: inline-block;
}

.contact-icons li:hover {
	cursor: pointer;
}

.contact-icons a {
		color:#eee !important;
}

.content {
	position: relative;
	text-align: center;
	padding-top:6rem;
	width:80%;
	margin-left:10%;
	margin-right: 10%;
}

.front-img img {
	height:25rem;
	width:auto;
	border-radius:50%;
	margin:1rem;
	-moz-box-shadow:    0 0 1rem #444;
   	-webkit-box-shadow: 0 0 1rem #444;
   	box-shadow:         0 0 1rem #444;
}

.front-img {
	padding-bottom: 2rem;
}

.blurbs {
	padding:1rem;
}

@media only screen and (max-width:  64.063em) {
	.main-blurb {
		position: relative;
		width:100%;
		margin:0 auto;
	}

	.banner img {
		display: none;
	}

	.content {
		padding:0;
	}

	h1 {
	font-size:4.5rem !important;
	}

	.blurb {
		width: 100%;
		padding:2rem;
		margin: 0 auto;
	}

	.contact {
		display: none;
	}

}
