<!DOCTYPE html>
<html>
<head>
	<title>Deborah Hellen Dressage</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css')}}">
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="#">Ed Hellen</a>-->
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="/">Home</a></li>
            <li><a href="{{url_for('dressage')}}">Dressage</a></li>
            <li><a href="{{url_for('engineer')}}">Engineering</a></li>
            <li><a href="{{url_for('ceramics')}}">Ceramics</a></li>
            <li><a>News</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
        <div class = "contact">
        	<ul class = 'contact-icons'>
        		<li><a class="inline-a" href="mailto:hellen.deborahv@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>
        	</ul>
        </div>
      </div>
    </div>

<!--	<div class = "banner"><img src="{{url_for('static',filename='img/trot.JPG')}}"></div><br>
	<div class = "main-blurb">
		<h1>Deborah Hellen</h1>
		<p><em>USDF Bronze Medalist and "L" Graduate with Distinction.<br>
		Web Developer with emphasis in beautiful, intuitive website design.</em>
		<br>
	</div>
	<div class = "content">
		<div class = "row">
			<div class = "col-md-4 blurbs">
				<h3>About Me</h3>
				<div class = "front-img"><img src="{{url_for('static',filename='img/deb.jpg')}}"></div>
				<p>I am a college student and long-time dressage rider from North Carolina currently based in Boston, Massachusetts. I am a full-time student at Olin College of Engineering majoring in Electrical and Computer Engineering and spend my weekends riding at various barns around the Boston area.</p>
			</div>
			<div class = "col-md-4 blurbs">
				<h3>Dressage</h3>
				<div class = "front-img"><img src="{{url_for('static',filename='img/reggie.JPG')}}"></div>
				<p>Dressage is my passion and my primary riding discipline.In 2012 I earned my USDF Bronze medal on a horse that I trained and in 2015 I graduated with distinction from the USDF "L" Program. I specialize in introducing horses to dressage and establishing a solid foundation for the upper level work or other disciplines. I am available for training on a limited basis and for judging schooling shows in the Boston area.</p> 
			</div>
			<div class = "col-md-4 blurbs">
				<h3>Websites</h3>
				<p>In addition to being an avid horsewoman, I have a passion for software development and have experience creating personal or small organization websites. I prioritize developing websites with simple yet engaging designs that look slick and professional across different platforms. Please contact me to learn more about my work experience and to discuss my website building services.
			</div>
		</div>
	</div>-->
<div class = "banner">
	<img src="{{url_for('static',filename='img/pensiveorsomething.jpg')}}">
</div>
<div class = "blurb">
	<div class = "name">
		<h1>Deborah Hellen</h1>
	</div>
	<div class = "links">
		<div class = "row">
			<div class = "dressage col-md-4">
				<a href="{{url_for('dressage')}}"><p>Dressage</p></a>
			</div>
			<div class = "engineer col-md-4">
				<a href="{{url_for('engineer')}}"><p>Engineering</p></a>
			</div>
			<div class = "ceramics col-md-4">
				<a href="{{url_for('ceramics')}}"><p>Ceramics</p></a>
			</div>
		</div>
	</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</body>
</html>
